@import './variables.scss';

header {
	height: $header_height;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		display: inline-block;
		font-size: 3.5em;
		font-weight: bold;
	}

	p {
		display: inline-block;
		font-size: 1.4em;
		font-weight: lighter;
		font-style: italic;
	}
}