$bg_color : #fffcb5;
$sd_color: #424242;
$tr_color: #fffee8;

$header_height: 20%;
$form_height: 20%;
$section_height: 50%;
$footer_height: 10%;

$border_radius: 5px;

$font: 'Montserrat', sans-serif;